<!-- views/new_customer.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Customer</title>
  <style>
    :root {
      --brand-color: <%= brandColor %>;
      --text-color: <%= textColor %>;
      --button-bg-color: <%= buttonBgColor %>;
      --button-text-color: <%= buttonTextColor %>;
      --button-hover-bg-color: <%= buttonHoverBgColor %>;
      --button-hover-text-color: <%= buttonHoverTextColor %>;
    }
  </style>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('partials/header', { brandColor, logoUrl, textColor }) %>

  <!-- Page Content -->
  <div style="padding: 20px;">
    <h1>New Customer Ticket Submission</h1>
    <p>Please fill out the form below to create a new support ticket. <strong>These details will be used to help book the appointment on the next page.</strong></p>

    <!-- HaloPSA Form -->
    <div id="formContainer"></div>
    <script>
        const baseUrl = "<%= haloApiUrl %>";
        const ticketTypeId = "<%= ticketTypeId %>";
        const publishedId = "<%= ticketTypeKey %>";
    </script>
    <script src="/js/dynamicFields.js"></script> 

  <%- include('partials/footer', { brandColor, textColor, Org }) %>
</body>
</html>
